@page
@model HospiEnCasa.App.Frontend.Pages.DetailsModel
@{
    ViewData["Title"] = "Detalles del Paciente";
}

<h1>@Model.Paciente.Nombre @Model.Paciente.Apellidos</h1>
<br>
<p><strong>Id:</strong> @Model.Paciente.Id</p>
<p><strong>Género:</strong> @Model.Paciente.Genero</p>
<p><strong>Teléfono:</strong> @Model.Paciente.NumeroTelefono</p>
<p><strong>Fecha de Nacimiento:</strong> @Model.Paciente.FechaNacimiento</p>
<p><strong>Dirección:</strong> @Model.Paciente.Direccion</p>
<p><strong>Ciudad:</strong> @Model.Paciente.Ciudad</p>
<p><strong>Latitud:</strong> @Model.Paciente.Latitud</p>
<p><strong>Longitud:</strong> @Model.Paciente.Longitud</p>
<a asp-page="./Paciente">Lista de Pacientes</a>