@page
@model HospiEnCasa.App.Frontend.Pages.PacienteModel
@{
}
<h1>Listado de Pacientes</h1>
<br>
<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Médico</th>
            <th>Enfermera</th>
            <th>Familiar Designado</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var paciente in Model.Pacientes)
        {
            <tr>
                <td>@paciente.Nombre @paciente.Apellidos</td>
                <td>@paciente.Medico</td>
                <td>@paciente.Enfermera</td>
                <td>@paciente.Familiar</td>
                <td>
                    <a class="btn btn-success table-btn" asp-page="./Details" asp-route-idPaciente="@paciente.Id">
                        <i class="fas fa-info-circle"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning table-btn" asp-page="./Edit" asp-route-idPaciente="@paciente.Id">
                        <i class="fas fa-user-edit" aria-hidden="true"></i>
                    </a>
                </td>
                <td>
                    <form method="get">
                        <input type="hidden" asp-for="@paciente.Id" name="idPaciente"/>
                        <button type="submit" class="btn btn-danger table-btn"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    
</table>

<a asp-page="./Edit" class="btn btn-primary">Adicionar Paciente</a>